<div id="container">
	<%= image_tag("brand_black.png", id: "brand-black", class: "brand") %>
	<%= image_tag("brand_gold.png", id: "brand-gold", class: "brand") %>
	<div id="fate-text">
		<p>People say you can't fight fate.</p>
		<p>But what if you knew your fate?</p>
		<p>Could you fight it then?</p>
	</div>
</div>
